body {
  color: black;
  font-size: 16px;
  text-align: center;
  background-color: #F0FFF0;
  float: center;
  display: flex;
  flex-direction: column;
  min-height: 90vh;
}

div#header {
  margin-top: 5vh;
  margin-bottom: 5vh;

  color: black;
  float: center;
  font-size: 32px;
  font-weight: bold;
  text-decoration: none;
}

div#header a {
  color: black;
  text-decoration: none;
}

div#content {
  flex: 1;
  margin-left: 30vw;
  margin-right: 30vw;
}

div#footer {
  color: #555;
  float: center;
  font-size: 12px;
}

h1 {
  font-size: 24px;
}

h2 {
  font-size: 20px;
}

img.link {
  width: 32px;
  height: 32px;
}
